@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #4d4f62;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  padding: 60px 20px;
}

.heading-section {
  padding-bottom: 76px;
}

.heading h1 {
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 0.17px;
  line-height: 32px;
  padding-bottom: 16px;
}

.heading p {
  font-size: 16px;
  line-height: 28px;
  opacity: 0.5;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 44px;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 10px 14px #dadae5;
  border-radius: 6px;
  text-align: left;
  padding: 32px;
}

.card h2 {
  font-size: 20.8px;
  margin-bottom: 16px;
}

.card p {
  font-size: 13px;
  opacity: 0.5;
}

figure {
  align-self: flex-end;
  margin-right: 9px;
  margin-top: 36px;
}

.card-section {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

#supervisor {
  border-top: 5px solid #00c8c8;
}

#teambuilding {
  border-top: 5px solid #ff637b;
}

#karma {
  border-top: 5px solid #fdbf00;
}

#calculator {
  border-top: 5px solid #377fd2;
}

.card-container {
  flex-direction: row;
  width: 85%;
  margin: auto;
  align-items: center;
}

#supervisor {
  width: 320px;
}

.heading h1 {
  font-size: 32px;
  line-height: 40px;
}

.heading p {
  width: 37%;
  margin: auto;
}
